<div class="row" *ngFor="let userlist of userlists">
    <div class="col s12 m7">
      <div class="card"  >
          
       
         
         
       
        <div class="card-content">
          <span class="card-title">{{userlist.fname}} {{userlist.lname}}</span>
          <h5>NIC :{{userlist.nic}}</h5>
          <h5>email:{{userlist.email}}</h5>
          <h5>DateOf Birth :{{userlist.dob}}</h5>
          <h5>Phone Number :{{userlist.phone_number}}</h5>
        </div>
        
      </div>
    </div>
  </div>
            